<div class="body">
    <h3>Stromübersicht</h3>

    <div class="values" *ngIf="senecData">

        <app-value class="value"
            [value]="senecData.house_power"
            suffix="W"
            name="Verbrauch"
        ></app-value>

        <app-mood class="value"
            [goodConditions]="[senecData.battery_power >= 0, senecData.grid_power < 0]"
        ></app-mood>

        <app-value class="value"
            [value]="senecData.solar_power"
            suffix="W"
            name="Erzeugung"
        ></app-value>

        <app-icon-value class="value"
            [value]="senecData.battery_power"
            suffix="W"
            [positiveIcons]="['arrow_forward', 'battery_charging_full']"
            [negativeIcons]="['arrow_back', 'battery_full']"
            positiveColor="forestgreen"
            negativeColor="crimson"
        ></app-icon-value>

        <app-battery class="value"
            [value]="senecData.battery_fuel"
        ></app-battery>

        <app-icon-value class="value"
            [value]="senecData.grid_power"
            suffix="W"
            [positiveIcons]="['arrow_back', 'public']"
            [negativeIcons]="['arrow_forward', 'public']"
            positiveColor="crimson"
            negativeColor="forestgreen"
        ></app-icon-value>
    </div>

    <div class="loading" *ngIf="!senecData">
        <div class="loader">
            <mat-spinner color="accent" diameter="50"></mat-spinner>
        </div>
    </div>
</div>
