<div class="body">
    <h3>Stromübersicht</h3>

    <div class="values">

        <div class="value">
            <span>650 W</span>
            <i>Verbrauch</i>
        </div>

        <div class="value">
            <!-- <mat-icon class="mood">mood</mat-icon> -->
            <mat-icon class="mood">sentiment_neutral</mat-icon>
            <!-- <mat-icon>mood_bad</mat-icon> -->
            <mat-icon>
                signal_cellular_2_bar
            </mat-icon>
        </div>

        <div class="value">
            <span>3.500 W</span>
            <i>Erzeugung</i>
            
        </div>

        <div class="value">
            <span>65 W</span>
            <i>Erzeugung</i>
        </div>

        <div class="value">
            <span>
                <mat-icon class="battery">battery_6_bar</mat-icon>
                85 %
            </span>
        </div>

        <div class="value">
            <span>65 W</span>
            <i>Erzeugung</i>
        </div>

    </div>
</div>
