.icon-value {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span {
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: .125em;
}

.icons {
    scale: .9;
    color: #a1a1a1;
}
